<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information with Selection Expression Demo</title>
</head>
<body>

<h1>Selection Expression Demo</h1>

<h2>---User Information---</h2>
<div th:object="${selectExpression}">
    <p>Name: <strong th:text="*{name}"></strong></p>
    <p>Email: <strong th:text="*{email}"></strong></p>
    <p>Role: <strong th:text="*{role}"></strong></p>
    <p>Gender: <strong th:text="*{gender}"></strong></p>
</div>


</body>
</html>