<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iteration in Thymeleaf</title>
</head>
<body>

<h2>User Table Information</h2>
<table border="1">

    <thead>
        <tr>
            <th>SR. No</th>
            <th>Index</th>
            <th>Even</th>
            <th>Odd</th>
            <th>First</th>
            <th>Last</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="userListInformation, userStatus : ${userListInformation}">
            <td th:text="${userStatus.count}"></td>
            <td th:text="${userStatus.index}"></td>
            <td th:text="${userStatus.even}"></td>
            <td th:text="${userStatus.odd}"></td>
            <td th:text="${userStatus.first}"></td>
            <td th:text="${userStatus.last}"></td>
            <td th:text="${userListInformation.name}"></td>
            <td th:text="${userListInformation.email}"></td>
            <td th:text="${userListInformation.role}"></td>
            <td th:text="${userListInformation.gender}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>